@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500&display=swap');

// app default colors
$default-component-bg: #9e9e9e;
$secondary-component-bg: #dcdcdc;

$color-black: #000;
$color-white: #fff;
$color-app-effect: #f06292;
$color-app-light-effect: #96efbf;

$color-light-gray: rgb(188, 188, 188);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-black;
  word-break: break-all;
}

a:hover {
  color: $color-black;
  text-decoration: underline;
}

.hn-special-text {
  color: $color-app-effect;
}

.hn-app-container {
  background-color: $color-white;
  min-height: 100vh;
}

.hn-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

// default margins
.hn-content-mb {
  margin-bottom: 20px;
}

.hn-content-mt {
  margin-top: 20px;
}

// default paddings
.hn-default-padding {
  padding: 10px;
}

// texts
.hn-default-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: 300;
  color: $color-black;
}

.hn-large-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: 500;
  color: $color-black;
}

.hn-light-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: 300;
  color: $color-black;
}

.hn-small-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: 100;
  color: $color-light-gray;
}

.hn-text-black {
  color: $color-black;
}

// specials
.hn-act-as-link:hover {
  cursor: pointer;
}

.hn-text-underline:hover {
  text-decoration: underline;
}
