.hn-navbar-container {
  width: 100%;
  background-color: $default-component-bg;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hn-icon {
  fill: #000;
  transition: all 0.5s;
}

.hn-icon:hover {
  fill: $color-app-effect;
  transition: all 0.5s;
  transform: scale(1.2);
}

.hn-teaser-card {
  background-color: $secondary-component-bg;
  border-bottom: 2px solid $color-black;
  width: 640px;
  @media (max-width: 750px) {
    width: 365px;
  }
}

.hn-default-btn {
  font-family: 'Roboto Mono', monospace;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $color-black;
}

.hn-default-btn:hover {
  color: $color-app-effect;
  cursor: pointer;
}

.hn-comment-card,
.hn-child-comment {
  background-color: $color-white;
  border-bottom: 1px solid $color-black;
  width: 640px;
  @media (max-width: 750px) {
    width: 365px;
  }
}

.hn-child-comment {
  background-color: $color-app-light-effect;
}

.hn-scroller-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid $color-light-gray;
}
